$background: #eff2f9;
$foreground: #fff;
$primary: #6a74c9;
$text-black: #484848;
$text-gray: #4f4f4f;
$border: #e6e6e6;
$shadow: #b1b1b140;

.main-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;

    .left-section {
        .location-single-column{
            display: none;
        }        
    }
    .right-section {
        .location-single-column{
            display: block;
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-body {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .main-body {
        grid-template-columns: 1fr !important;

        .left-section {
            .location-single-column{
                display: block;
            }        
        }
        .right-section {
            .location-double-column{
                display: none !important;
            }

            .doa-section{
                display: flex;
                gap: 1rem;
            }
        }
    }
}