$background: #eff2f9;
$foreground: #fff;
$primary: #6a74c9;
$text-black: #484848;
$text-gray: #4f4f4f;
$border: #e6e6e6;
$shadow: #b1b1b140;

.schedule {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    gap: 5px;

    p {
        background-color: $background;
        padding: 6% 3%;
        margin: 1.2% 0;
        border-radius: 8px;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover{
            background-color: #e5e9f4; 
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1250px) {
    .schedule{
        p{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1055px) {
    .schedule{
        p{
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 840px) {
    .schedule{
        p{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 745px) {
    .schedule{
        p{
            font-size: 0.6rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .schedule{
        p{
            font-size: 0.7rem;
        }
    }
}