.top-banner {
  color: white;
  padding: 0 3%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background: linear-gradient(45deg, #00569a, transparent), url(../../img/bg.jpg);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.top-banner .top-left {
  width: 60%;
}
.top-banner .top-left .current-time-section {
  display: flex;
  align-items: center;
}
.top-banner .top-left .current-time-section .current-time {
  display: inline-block;
  background-color: rgba(239, 242, 249, 0.9098039216);
  color: #484848;
  padding: 1% 1.5%;
  min-width: 5rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.top-banner .top-left .current-time-section img {
  width: 8%;
  height: 8%;
}
.top-banner .top-left h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
}
.top-banner .top-left h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  color: #6a74c9;
  background: rgba(106, 116, 201, 0.4901960784);
  color: #fff;
  display: inline-block;
  padding: 1% 4%;
  border-radius: 12px;
}
.top-banner .top-left p {
  font-size: 1.15rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 500;
}
.top-banner .top-right {
  width: 30%;
  background-color: rgba(239, 242, 249, 0.9098039216);
  margin: 2.8% 0;
  border-radius: 20px;
  padding: 2%;
}
.top-banner .top-right h1 {
  color: #6a74c9;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.top-banner .top-right .main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.top-banner .top-right .main .today {
  padding: 5% 8%;
  text-align: center;
  color: #484848;
  background: rgba(255, 255, 255, 0.8470588235);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.top-banner .top-right .main .today h2 {
  color: #6a74c9;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.top-banner .top-right .main .today h3 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}
.top-banner .top-right .main .today p {
  margin: 0;
}
.top-banner .top-right .main .todays-schedule p {
  background-color: #fff;
  color: #484848;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.15rem;
  margin: 4% 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.top-banner .top-right .main .todays-schedule p .time {
  font-weight: 500;
}

@media screen and (max-width: 1240px) {
  .top-left h1 {
    font-size: 2rem;
  }
  .top-left p {
    font-size: 1.1rem !important;
    line-height: 1.5rem;
    margin-bottom: 10px !important;
  }
  .top-right h1 {
    font-size: 1.8rem;
  }
  .top-right .main .today h2 {
    font-size: 2.8rem;
  }
  .top-right .main .today h3 {
    font-size: 1.2rem;
  }
  .top-right .main .todays-schedule p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1110px) {
  .top-left h1 {
    font-size: 3.3rem !important;
  }
  .top-left h3 {
    font-size: 1.1rem !important;
  }
  .top-left p {
    font-size: 1rem !important;
    line-height: 1.4rem;
    margin-bottom: 10px !important;
  }
  .top-right h1 {
    font-size: 1.6rem;
  }
  .top-right .main .today h2 {
    font-size: 2.6rem !important;
  }
  .top-right .main .today h3 {
    font-size: 1.3rem !important;
  }
  .top-right .main .todays-schedule p {
    font-size: 0.95rem !important;
  }
}
@media screen and (max-width: 996px) {
  .top-left h1 {
    font-size: 3.15rem !important;
  }
  .top-left h3 {
    font-size: 1.05rem !important;
  }
  .top-left p {
    font-size: 1rem !important;
    line-height: 1.3rem;
    margin-bottom: 20px !important;
  }
  .top-right h1 {
    font-size: 1.5rem;
  }
  .top-right .main .today h2 {
    font-size: 2.4rem !important;
  }
  .top-right .main .today h3 {
    font-size: 1.2rem !important;
  }
  .top-right .main .todays-schedule p {
    font-size: 0.85rem !important;
  }
}
@media screen and (max-width: 800px) {
  .top-left h1 {
    font-size: 2.5rem !important;
  }
  .top-left h3 {
    font-size: 0.9rem !important;
  }
  .top-left .current-time {
    font-size: 0.9rem !important;
  }
  .top-left p {
    font-size: 0.8rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 20px !important;
  }
  .top-right h1 {
    font-size: 1.2rem !important;
  }
  .top-right .main {
    gap: 0.7rem !important;
  }
  .top-right .main .today {
    padding: 10% !important;
  }
  .top-right .main .today h2 {
    font-size: 1.8rem !important;
  }
  .top-right .main .today h3 {
    font-size: 1rem !important;
  }
  .top-right .main .today p {
    font-size: 0.85rem !important;
  }
  .top-right .main .todays-schedule p {
    font-size: 0.65rem !important;
  }
}
@media screen and (max-width: 768px) {
  .top-left h1 {
    font-size: 2.3rem !important;
  }
  .top-right h1 {
    font-size: 1.1rem !important;
  }
  .top-right .main {
    gap: 0.5rem !important;
  }
  .top-right .main .today {
    padding: 10% !important;
  }
  .top-right .main .today h2 {
    font-size: 1.8rem !important;
  }
  .top-right .main .today h3 {
    font-size: 1rem !important;
  }
  .top-right .main .today p {
    font-size: 0.75rem !important;
  }
  .top-right .main .todays-schedule p {
    font-size: 0.75rem !important;
  }
}
@media screen and (max-width: 600px) {
  .top-left h1 {
    font-size: 1.7rem !important;
  }
  .top-left h3 {
    font-size: 0.6rem !important;
  }
  .top-left .current-time {
    font-size: 0.6rem !important;
  }
  .top-left p {
    font-size: 0.6rem !important;
    line-height: 1.2rem !important;
    margin-bottom: 20px !important;
  }
  .top-right h1 {
    font-size: 0.8rem !important;
  }
  .top-right .main {
    gap: 0.6rem !important;
  }
  .top-right .main .today {
    padding: 10% 5% !important;
  }
  .top-right .main .today h2 {
    font-size: 1.5rem !important;
  }
  .top-right .main .today h3 {
    font-size: 0.8rem !important;
  }
  .top-right .main .today p {
    font-size: 0.65rem !important;
  }
  .top-right .main .todays-schedule p {
    font-size: 0.65rem !important;
  }
}
@media screen and (max-width: 556px) {
  .top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative !important;
    padding: 8% 0;
  }
  .top-banner .top-left {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .top-banner .top-left .current-time-section {
    position: absolute !important;
    top: 37%;
    left: 40%;
  }
  .top-banner .top-left .current-time-section h4 {
    font-size: 0.8rem !important;
  }
  .top-banner .top-left h1 {
    font-size: 2rem !important;
  }
  .top-banner .top-left h3 {
    font-size: 0.75rem !important;
  }
  .top-banner .top-left .current-time {
    font-size: 0.6rem !important;
    padding: 0 1.2rem;
  }
  .top-banner .top-left p {
    font-size: 0.8rem !important;
    line-height: 1.55rem !important;
    margin-bottom: 20px !important;
  }
  .top-banner .top-right {
    width: 75%;
    margin-top: 2.5rem;
  }
  .top-banner .top-right h1 {
    font-size: 1.4rem !important;
    text-align: center;
  }
  .top-banner .top-right .main {
    gap: 0.6rem !important;
  }
  .top-banner .top-right .main .today {
    padding: 10% 5% !important;
  }
  .top-banner .top-right .main .today h2 {
    font-size: 2rem !important;
  }
  .top-banner .top-right .main .today h3 {
    font-size: 1.3rem !important;
  }
  .top-banner .top-right .main .today p {
    font-size: 0.8rem !important;
  }
  .top-banner .top-right .main .todays-schedule p {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 454px) {
  .top-banner .top-left .current-time-section {
    position: absolute !important;
    top: 40% !important;
    left: 40%;
  }
  .top-banner .top-left h1 {
    font-size: 1.6rem !important;
    margin-bottom: 0.5rem;
  }
  .top-banner .top-left h3 {
    font-size: 0.55rem !important;
  }
}
@media screen and (max-width: 375px) {
  .top-banner .top-left .current-time-section {
    position: absolute !important;
    top: 40% !important;
    left: 40%;
  }
  .top-banner .top-left h1 {
    font-size: 1.45rem !important;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 341px) {
  .top-banner .top-left .current-time-section {
    position: absolute !important;
    top: 35% !important;
    left: 40%;
  }
  .top-banner .top-left h1 {
    font-size: 1.35rem !important;
    margin-bottom: 0.5rem;
  }
  .top-banner .top-left p {
    font-size: 0.65rem !important;
    line-height: 1.25rem !important;
    margin-bottom: 0 !important;
  }
  .top-banner .top-right h1 {
    font-size: 1.2rem !important;
  }
  .top-banner .top-right .main .today h3 {
    font-size: 1.2rem !important;
  }
}/*# sourceMappingURL=TopBanner.css.map */