$background: #eff2f9;
$background-transparent: #eff2f9e8;
$foreground: #fff;
$foreground-transparent: #ffffffd8;
$primary: #6a74c9;
$text-black: #484848;
$text-gray: #4f4f4f;
$border: #e6e6e6;
$shadow: #b1b1b140;

.top-banner {
    color: white;
    padding: 0 3%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background: linear-gradient(45deg, #00569a, transparent), url(../../img/bg.jpg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .top-left {
        width: 60%;

        .current-time-section {
            display: flex;
            align-items: center;

            .current-time {
                display: inline-block;
                background-color: $background-transparent;
                color: $text-black;
                padding: 1% 1.5%;
                min-width: 5rem;
                text-align: center;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: 500;
            }

            img {
                width: 8%;
                height: 8%;
            }
        }

        h1 {
            font-size: 3.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin: 0;
        }

        h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.3rem;
            letter-spacing: 0.15rem;
            color: $primary;
            background: #6a74c97d;
            color: #fff;
            display: inline-block;
            padding: 1% 4%;
            border-radius: 12px;
        }

        p {
            font-size: 1.15rem;
            line-height: 2rem;
            margin: 0;
            font-weight: 500;
        }
    }

    .top-right {
        width: 30%;
        background-color: $background-transparent;
        margin: 2.8% 0;
        border-radius: 20px;
        padding: 2%;

        h1 {
            color: $primary;
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

        .main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            .today {
                padding: 5% 8%;
                text-align: center;
                color: $text-black;
                background: $foreground-transparent;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

                h2 {
                    color: $primary;
                    font-size: 3rem;
                    font-weight: 700;
                    margin: 0;
                }

                h3 {
                    font-weight: 400;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }

                p {
                    margin: 0;
                }
            }

            .todays-schedule {
                p {
                    background-color: $foreground;
                    color: $text-black;
                    padding: 0.8rem;
                    border-radius: 10px;
                    font-size: 1.15rem;
                    margin: 4% 0;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

                    .time {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .top-left {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.1rem !important;
            line-height: 1.5rem;
            margin-bottom: 10px !important;
        }
    }

    .top-right {
        h1 {
            font-size: 1.8rem;
        }

        .main {
            .today {
                h2 {
                    font-size: 2.8rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
            }

            .todays-schedule {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1110px) {
    .top-left {
        h1 {
            font-size: 3.3rem !important;
        }

        h3 {
            font-size: 1.1rem !important;
        }

        p {
            font-size: 1rem !important;
            line-height: 1.4rem;
            margin-bottom: 10px !important;
        }
    }

    .top-right {
        h1 {
            font-size: 1.6rem;
        }

        .main {
            .today {
                h2 {
                    font-size: 2.6rem !important;
                }

                h3 {
                    font-size: 1.3rem !important;
                }
            }

            .todays-schedule {
                p {
                    font-size: 0.95rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 996px) {
    .top-left {
        h1 {
            font-size: 3.15rem !important;
        }

        h3 {
            font-size: 1.05rem !important;
        }

        p {
            font-size: 1rem !important;
            line-height: 1.3rem;
            margin-bottom: 20px !important;
        }
    }

    .top-right {
        h1 {
            font-size: 1.5rem;
        }

        .main {
            .today {
                h2 {
                    font-size: 2.4rem !important;
                }

                h3 {
                    font-size: 1.2rem !important;
                }
            }

            .todays-schedule {
                p {
                    font-size: 0.85rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .top-left {
        h1 {
            font-size: 2.5rem !important;
        }

        h3 {
            font-size: 0.9rem !important;
        }

        .current-time {
            font-size: 0.9rem !important;
        }

        p {
            font-size: 0.8rem !important;
            line-height: 1.5rem !important;
            margin-bottom: 20px !important;
        }
    }

    .top-right {
        h1 {
            font-size: 1.2rem !important;
        }

        .main {
            gap: 0.7rem !important;

            .today {
                padding: 10% !important;

                h2 {
                    font-size: 1.8rem !important;
                }

                h3 {
                    font-size: 1rem !important;
                }

                p {
                    font-size: 0.85rem !important;
                }
            }

            .todays-schedule {
                p {
                    font-size: 0.65rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .top-left {
        h1 {
            font-size: 2.3rem !important;
        }
    }

    .top-right {
        h1 {
            font-size: 1.1rem !important;
        }

        .main {
            gap: 0.5rem !important;

            .today {
                padding: 10% !important;

                h2 {
                    font-size: 1.8rem !important;
                }

                h3 {
                    font-size: 1rem !important;
                }

                p {
                    font-size: 0.75rem !important;
                }
            }

            .todays-schedule {
                p {
                    font-size: 0.75rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .top-left {
        h1 {
            font-size: 1.7rem !important;
        }

        h3 {
            font-size: 0.6rem !important;
        }

        .current-time {
            font-size: 0.6rem !important;
        }

        p {
            font-size: 0.6rem !important;
            line-height: 1.2rem !important;
            margin-bottom: 20px !important;
        }
    }

    .top-right {
        h1 {
            font-size: 0.8rem !important;
        }

        .main {
            gap: 0.6rem !important;

            .today {
                padding: 10% 5% !important;

                h2 {
                    font-size: 1.5rem !important;
                }

                h3 {
                    font-size: 0.8rem !important;
                }

                p {
                    font-size: 0.65rem !important;
                }
            }

            .todays-schedule {
                p {
                    font-size: 0.65rem !important;

                    &:nth-child(2n) {
                        // display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 556px) {
    .top-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative !important;
        padding: 8% 0;

        .top-left {
            text-align: center;
            width: 80%;
            margin: 0 auto;

            .current-time-section {
                position: absolute !important;
                top: 37%;
                left: 40%;

                h4 {
                    font-size: 0.8rem !important;
                }
            }

            h1 {
                font-size: 2rem !important;
            }

            h3 {
                font-size: 0.75rem !important;
            }

            .current-time {
                font-size: 0.6rem !important;
                padding: 0 1.2rem;
            }

            p {
                font-size: 0.8rem !important;
                line-height: 1.55rem !important;
                margin-bottom: 20px !important;
            }
        }

        .top-right {
            width: 75%;
            margin-top: 2.5rem;

            h1 {
                font-size: 1.4rem !important;
                text-align: center;
            }

            .main {
                gap: 0.6rem !important;

                .today {
                    padding: 10% 5% !important;

                    h2 {
                        font-size: 2rem !important;
                    }

                    h3 {
                        font-size: 1.3rem !important;
                    }

                    p {
                        font-size: 0.8rem !important;
                    }
                }

                .todays-schedule {
                    p {
                        font-size: 0.8rem !important;

                        &:nth-child(2n) {
                            // display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 454px) {
    .top-banner {
        .top-left {
            .current-time-section {
                position: absolute !important;
                top: 40% !important;
                left: 40%;

                // h4 {
                //     font-size: 0.8rem !important;
                // }
            }

            h1{
                font-size: 1.6rem !important;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 0.55rem !important;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .top-banner {
        .top-left {
            .current-time-section {
                position: absolute !important;
                top: 40% !important;
                left: 40%;
            }

            h1{
                font-size: 1.45rem !important;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 341px) {
    .top-banner {
        .top-left {
            .current-time-section {
                position: absolute !important;
                top: 35% !important;
                left: 40%;
            }

            h1{
                font-size: 1.35rem !important;
                margin-bottom: 0.5rem;
            }

            p{
                font-size: 0.65rem !important;
                line-height: 1.25rem !important;
                margin-bottom: 0 !important;
            }
        }

        .top-right{
            h1 {
                font-size: 1.2rem !important;
            }

            .main{
                .today{
                    h3{
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
    }
}